extends ../layout

block stylesheet
    link(rel='stylesheet', href=url.css('story.css'))

block javascript
    script(src=url.js('handlebars.template.story.min.js'))
    script(src=url.js('view.story.js'))
    script
        CS.sprint = !{JSON.stringify(sprint)};

block content
    h2#current-sprint-title.etched
        small.sub-title
        - if(sprint)
            span.large
                | sprint#{sprint.number}
            small.sprint-name
                i #{sprint.name}
    article#story-article.positioned

        ul#story-list