extends layout


block stylesheet
    link(rel='stylesheet', href='/stylesheets/daily.css')

block javascript
    script(src='/javascripts/jquery-ui.custom.js')
    script(src='/javascripts/highcharts.js')
    script(src='/javascripts/view.daily.js')


block content

    - var placeholder = msg.placeholder.daily;
    - var label = msg.label.daily;

    section#calendar-section.float-right
        #calendar.calendar

    h2#current-sprint-title.etched
                small.sub-title
                    | #{msg.label.current_sprint}
                    br
                | sprint124
    .etched-line#top-line
    br
    section#task-section.paper.float-left
        .paper-content
            h3.paper-title
                | #{label.tasks}
            table
                tr
                    th #{label.task_time.estimated}
                    td
                tr
                    th #{label.task_time.remain}
                    td
                tr
                    th #{label.task_time.done}
                    td
            #task-progress-bar(data-role='progress-bar', data-rate='0.5')



    section#issue-section.paper.float-left
        .paper-content
            h3.paper-title.blue
                | #{label.issues}
            table
                tr
                    th #{label.issue_count.total}
                    td
                        span(data-key='total')
                tr
                    th #{label.issue_count.modified}
                    td
                        span(data-key='modified')
                tr
                    th #{label.issue_count.done}
                    td
                        span(data-key='done')
            #issue-progress-bar(data-role='progress-bar', data-rate='0.5')

    br.clear


    section#report-chart-section.paper
        .paper-content
            #report-chart

    br
    br
    .etched-line

    section#keep-in-mind-section
        .photo-panel-container
            .photo-panel
                .frame-bar-top.photo-frame-bar
                .frame-bar-bottom.photo-frame-bar
                .frame-bar-left.photo-frame-bar
                .frame-bar-right.photo-frame-bar
                .photo-inner-frame
                    ol.keep-in-mind-list
                        - var keepInMindMaxLength = 120;
                        - var trialDefault = '(none)';
                        li.keep-in-mind-list-item
                            input(name='keep-in-mind-0',
                                maxlength = keepInMindMaxLength,
                                value=trialDefault,
                                placeholder=placeholder.keep_in_mind[0])
                        li.keep-in-mind-list-item
                            input(name='keep-in-mind-1',
                                maxlength = keepInMindMaxLength,
                                value=trialDefault,
                                placeholder=placeholder.keep_in_mind[1])
                        li.keep-in-mind-list-item
                            input(name='keep-in-mind-2',
                                maxlength =keepInMindMaxLength,
                                value=trialDefault,
                                placeholder=placeholder.keep_in_mind[2])
            .name-plate-container
                .name-plate
                    | #{label.keep_in_mind}

    br.clear
    .etched-line

    section#grouping-section.paper
        .paper-content
            h3.paper-title #{label.grouping}
            #grouping-roulette
