extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/index.css')

block javascript
    script(src='/javascripts/view.index.js')


block content
    - var label = msg.label.index;
    - var placeholder = msg.placeholder.index;
    #main-content-left.float-left
        h1#logo.etched.large
            | #{app.title}

    #main-content-right.float-left
        section#team-select-section.paper
            .paper-content
                h3.paper-title.lead #{label.teams}
                ul#team-list.positioned
                    - each team in teams
                        li
                            a(href='/team/#{team.name}')
                                | #{team.name}

                form#new-team-form(action='/new_team', method='POST')
                    input(type='text', name='name', placeholder=placeholder.team_name, required)
                    input.btn(type='submit').hidden
                a#team-add-btn.list-item-add-btn
                    i.icon
                        span.add-icon-bar-v
                        span.add-icon-bar-h
    br.clear



