doctype 5
html
  head
    meta(charset='utf-8')
    title #{app.title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/fav.ico')
    block script

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/spin.js')
    script(src='/javascripts/view.js')
    block javascript

    block head

  body
    header(data-login='false')
        nav.nav-bar.positioned
            a.nav-item(href='/') #{msg.nav.home}
            a.nav-item(href='/daily') #{msg.nav.daily}
            a.nav-item(href='/think_back') #{msg.nav.think_back}

            a.stick-right#login-btn
                | #{msg.nav.login}
            a.stick-right#logout-btn
                | #{msg.nav.logout}

        #login-dialog.stick-right(
            data-role='dialog',
            data-opener='#login-btn')
                a(data-role='closer').stick-right
                    | #{msg.btn.close}
                include parts/dialog.login-form.jade

    #main
        block content

    footer


