doctype 5
html
  head
    meta(charset='utf-8')
    title #{app.title}
    link(rel='stylesheet', href=url.css('style.css'))
    link(rel='shortcut icon', href='/fav.ico')
    block stylesheet

    script(src=url.js('jquery.js'))
    script(src=url.js('jquery-ui.custom.js'))
    script(src=url.js('revalidator.js'))
    script(src=url.js('revalidator.msg.js'))
    script(src=url.js('revalidator.schema.js'))

    script(src=url.js('spin.js'))
    script(src=url.js('view.js'))
    script(src=url.js('handlebars.runtime.min.js'))

    script
        CS.team = !{team && JSON.stringify(team) || 'null'};
    block javascript

    block head


  body
    header

        .logo
            span#selected-team #{team.name}
        nav.nav-bar.positioned#head-nav
            a.nav-item(href='/team/#{team.name}/daily', data-key='daily')
                | #{msg.nav.daily}
            span.nav-separator
            a.nav-item(href='/team/#{team.name}/story', data-key='story')
                | #{msg.nav.story}
            span.nav-separator
            a.nav-item(href='/team/#{team.name}/think_back', data-key='think_back')
                | #{msg.nav.think_back}
            span.nav-separator
            a.nav-item(href='/team/#{team.name}/setting', data-key='setting')
                | #{msg.nav.setting}
            span.nav-separator
                a.nav-item(href='/team/#{team.name}/rule', data-key='rule')
                | #{msg.nav.rule}
    #main
        block content

    footer


