extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;
    - var placeholder = msg.placeholder.settings;
    - var btn = msg.btn.settings;

    br
    .etched-line#top-line
    h2.etched
        | #{label.sprints}
    section#sprint-section
        ul#sprint-list.positioned.no-style-list

            - each sprint in sprints
                li.sprint-list-item(data-data=sprint)

            li.inline.float-left
                form#new-sprint-form.inline(
                    action='/sprint/new',
                    method='POST')
                    input(type='hidden', name='team_name', value=team.name)
                    fieldset
                        legend #{label.sprint.caption_new}
                        span #{msg.label.sprint}
                        input.shortest#sprint-number-input(
                            type='number',
                            value= (sprints.length && sprints[0].number || 0)+1,
                            name='number'
                        )
                        input#sprint-name-input(
                            type='text',
                            name='name',
                            placeholder=placeholder.sprint_name)

                        input.btn.block-btn(type='submit', value=btn.new_sprint)

            a#sprint-add-btn
                i.icon
                    span.add-icon-bar-v
                    span.add-icon-bar-h

    br.clear
    br
    .etched-line
    br
    h2.etched
        | #{label.members}
    section#member-section.paper.inline.float-left
        .paper-content
            h3.paper-title
            ul#mebmer-list.positioned.no-style-list
                - each member in team.members
                    li.member-list-item(data-data=member)
                li.list-item-add-btn#member-add-btn
                    i.icon
                        span.add-icon-bar-v
                        span.add-icon-bar-h
    br.clear


