extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;

    br
    br
    section#team-select-section
        span.etched
            | #{label.selected_team}:
        select#team-select.no-appearance.large
            option
            - each team in teams
                option(value='#{team._id.toString()}')
                    | #{team.name}

    .etched-line#top-line
    br
    section#projects-section.paper.inline.float-left
        .paper-content
            h3.paper-title #{label.projects}
            ul#project-list.positioned.no-style-list

            a.list-item-add-btn#projects-add-btn
                i.icon
                    span.add-icon-bar-v
                    span.add-icon-bar-h


    section#member-section.paper.inline.float-left
        .paper-content
            h3.paper-title #{label.members}
            ul#mebmer-list.positioned.no-style-list
            a.list-item-add-btn#member-add-btn
                i.icon
                    span.add-icon-bar-v
                    span.add-icon-bar-h

    br.clear


