extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;
    - var placeholder = msg.placeholder.settings;
    - var btn = msg.btn.settings;

    br
    .etched-line#top-line
    h2.etched
        | #{label.sprints}
    section#sprint-section
        ul#spoint-list.positioned.no-style-list
            li.paper.inline.float-left
                .paper-content
                    h3.paper-title


            li.paper.inline.float-left
                .paper-content
                    form.inline(action='/sprint/new', method='POST')
                        input(type='hidden', name='team_name', value=team.name)
                        table
                            caption #{label.sprint.caption_new}
                            tr
                                th
                                    label(for='')
                                        | #{label.sprint.number}
                                td

                            tr
                                th
                                    label(for='sprint-name-input')
                                        | #{label.sprint.name}
                                td
                                    input#sprint-name-input(
                                        type='text',
                                        name='name',
                                        placeholder=placeholder.sprint_name)

                        input.btn(type='submit', value=btn.new_sprint)

            li.list-item-add-btn#sprint-add-btn
                i.icon
                    span.add-icon-bar-v
                    span.add-icon-bar-h

    br.clear
    br
    .etched-line
    br
    h2.etched
        | #{label.members}
    section#member-section.paper.inline.float-left
        .paper-content
            h3.paper-title
            ul#mebmer-list.positioned.no-style-list
                - each member in team.members
                    li.member-list-item(data-data=member)
                li.list-item-add-btn#member-add-btn
                    i.icon
                        span.add-icon-bar-v
                        span.add-icon-bar-h
    br.clear


