extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/handlebars.runtime.min.js')
    script(src='/javascripts/handlebars.template.setting.js')
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;
    - var placeholder = msg.placeholder.settings;
    - var btn = msg.btn.settings;
    a#change-team-btn(href='/').float-right
        | #{msg.btn.change_team}
    br
    .etched-line#top-line

    h2.etched.block-title
        | #{label.redmine}
        img.icon.redmine-icon(src='/images/redmine.fav.ico')
    section#redmine-section
        #redmine-project-list-pane.paper.float-left
            .paper-content
                .paper-title #{label.redmine_projects}
                form#redmine-projects-form(
                        action='/update_team/redmine_projects',
                        method='POST',
                        data-projects=team.redmine_projects && team.redmine_projects.join(','))
                    input(type='hidden', name='_id', value=team._id)
                    ul#redmine-project-list

        br.clear

    br


    h2.etched.block-title
        | #{label.sprints}
    section#sprint-section.black-board
        include prt.eraser.jade
        .black-board-frame.black-board-frame-bottom
        .black-board-content
            ul#sprint-list.positioned.no-style-list
                - each sprint in sprints
                    li.sprint-list-item(data-data=sprint)
            br.clear
            #new-sprint-input-dialog.card.stick-right.stick-top(
                data-role='dialog',
                data-opener='#sprint-add-btn',
                data-closer='#new-sprint-cancel-btn')
                .card-title.large #{label.sprint.caption_new}
                .card-content
                    form#new-sprint-form.inline(
                        action='/sprint/new',
                        method='POST')
                        input(type='hidden', name='team_name', value=team.name)
                        fieldset.no-border
                            ul.no-style-list
                                li
                                    label(for='sprint-number-input')
                                        | #{msg.label.sprint}
                                    input.shortest#sprint-number-input(
                                        type='number',
                                        value= (sprints.length && sprints[0].number || 0)+1,
                                        name='number'
                                    )
                                    input#sprint-name-input(
                                        type='text',
                                        name='name',
                                        placeholder=placeholder.sprint_name)
                                li
                                    label(for='sprint-begin-input').suffix-colon
                                        | #{label.sprint.duration}
                                    br
                                    input#sprint-begin-input(
                                        type='date',
                                        name='begin',
                                        placeholder=placeholder.sprint_begin)
                                    | ~
                                    input#sprint-end-input(
                                        type='date',
                                        name='end',
                                        placeholder=placeholder.sprint_end)
                                li
                                    label(for='redmine-sprint-select').suffix-colon
                                        img.icon.redmine-icon(
                                            src='/images/redmine.fav.ico'
                                        )
                                        | #{label.sprint.redmine_sprint}
                                    br
                                    select#redmine-sprint-select
                                        option
                            br
                            .btn-area
                                input#new-sprint-cancel-btn.btn(type='button', value=btn.new_sprint_cancel)
                                input.btn(type='submit', value=btn.new_sprint_save).primary

            a.btn#sprint-add-btn.stick-right.stick-top
                i.icon.icon-small
                    span.add-icon-bar-v
                    span.add-icon-bar-h
                | #{btn.new_sprint}
    br.clear
    br
    .etched-line
    br
    h2.etched.block-title
        | #{label.members}
    section#member-section.inline
        ul#mebmer-list.positioned.no-style-list
            - each member in team.members
                li.float-left.member-list-item(data-data=member)
        a.btn#member-add-btn
            i.icon.icon-small
                span.add-icon-bar-v
                span.add-icon-bar-h
            | #{btn.new_member}
        br.clear
    br.clear


