extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/handlebars.runtime.min.js')
    script(src='/javascripts/handlebars.template.setting.js')
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;
    - var placeholder = msg.placeholder.settings;
    - var btn = msg.btn.settings;

    br
    .etched-line#top-line
    h2.etched.block-title
        | #{label.sprints}
    section#sprint-section.black-board
        include prt.eraser.jade
        .black-board-frame.black-board-frame-bottom
        .black-board-content
            ul#sprint-list.positioned.no-style-list
                - each sprint in sprints
                    li.sprint-list-item(data-data=sprint)
            br.clear
            #new-sprint-input-dialog.card(
                data-role='dialog',
                data-opener='#sprint-add-btn',
                data-closer='#new-sprint-cancel-btn')
                .card-content
                    form#new-sprint-form.inline(
                        action='/sprint/new',
                        method='POST')
                        input(type='hidden', name='team_name', value=team.name)
                        fieldset.no-border
                            legend #{label.sprint.caption_new}
                            span #{msg.label.sprint}
                            input.shortest#sprint-number-input(
                                type='number',
                                value= (sprints.length && sprints[0].number || 0)+1,
                                name='number'
                            )
                            input#sprint-name-input(
                                type='text',
                                name='name',
                                placeholder=placeholder.sprint_name)

                            input.btn(type='submit', value=btn.new_sprint_save)
                            input#new-sprint-cancel-btn.btn(type='button', value=btn.new_sprint_cancel)

            a.btn#sprint-add-btn.stick-right.stick-top
                i.icon.icon-small
                    span.add-icon-bar-v
                    span.add-icon-bar-h
                | #{btn.new_sprint}
    br.clear
    br
    .etched-line
    br
    h2.etched.block-title
        | #{label.members}
    section#member-section.inline
        ul#mebmer-list.positioned.no-style-list
            - each member in team.members
                li.float-left.member-list-item(data-data=member)
        a.btn#member-add-btn
            i.icon.icon-small
                span.add-icon-bar-v
                span.add-icon-bar-h
            | #{btn.new_member}
        br.clear
    br.clear


