extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/handlebars.template.setting.js')
    script(src='/javascripts/view.setting.js')

block content
    - var label = msg.label.settings;
    - var placeholder = msg.placeholder.settings;
    - var btn = msg.btn.settings;
    a#change-team-btn(href='/').float-right
        | #{msg.btn.change_team}
    br
    .etched-line#top-line

    h2.etched.block-title
        | #{label.redmine}
        img.icon.redmine-icon(src='/images/redmine.fav.ico')
    section#redmine-section
        #redmine-project-list-pane.paper.float-left
            .paper-content
                .paper-title
                    i #{label.redmine_projects}
                    small.paper-title-lead.hidden
                        | #{label.redmine_projects_lead}

                form#redmine-projects-form(
                        action='/update_team/redmine_projects',
                        method='POST',
                        data-projects=team.redmine_projects && team.redmine_projects.join(','))
                    input(type='hidden', name='_id', value=team._id)
                    ul#redmine-project-list.no-style-list
        #redmine-trackers-pane.paper.float-left
            .paper-content
                .paper-title
                    i #{label.redmine_tracker}
                table#trackers-table.positioned
                    thead
                        tr
                            th #{label.redmine_tracker_table.tracker}
                            th #{label.redmine_tracker_table.report_as}
                    tbody(data-trackers=team.trackers)

        #redmine-bug-status-pane.paper.float-left
            .paper-content
                .paper-title
                    i #{label.redmine_bug_status}
                table#bug-status-table.positioned
                    thead
                        tr
                            th #{label.redmine_bug_status_table.issue_status}
                            th #{label.redmine_bug_status_table.report_as}
                    tbody(data-issue_statuses=team.issue_statuses)



        br.clear

    br
    .etched-line


    h2.etched.block-title
        | #{label.sprints}
    section#sprint-section.black-board
        include prt.eraser.jade
        .black-board-frame.black-board-frame-bottom
        .black-board-content
            ul#sprint-list.positioned.no-style-list(data-data=sprints)
            br.clear
            #new-sprint-input-dialog.card.stick-right.stick-top(
                data-role='dialog',
                data-opener='#sprint-add-btn',
                data-closer='#new-sprint-cancel-btn')
                .card-title.large #{label.sprint.caption_new}
                .card-content
                    include prt.new-sprint-form.jade

            a.btn#sprint-add-btn.stick-right.stick-top
                i.icon.icon-small
                    span.add-icon-bar-v
                    span.add-icon-bar-h
                | #{btn.new_sprint}
    br.clear
    br
    .etched-line
    br
    h2.etched.block-title
        | #{label.members}
    section#member-section.inline
        .positioned
            ul#mebmer-list.positioned.no-style-list
                - each member in team.members
                    li.float-left.member-list-item(data-data=member)
            a.btn#member-add-btn.stick-right.stick-top
                i.icon.icon-small
                    span.add-icon-bar-v
                    span.add-icon-bar-h
                | #{btn.new_member}
            br.clear
    br.clear


