form#new-sprint-form.inline(
    action='/sprint/new',
    method='POST')
    input(type='hidden', name='team_name', value=team.name, data-empty-form-ignore='true')
    fieldset.no-border
        ul.no-style-list
            li
                label(for='sprint-number-input')
                    | #{msg.label.sprint}
                input.shortest#sprint-number-input(
                    type='number',
                    value= (sprints.length && sprints[0].number || 0)+1,
                    name='number'
                )
                input#sprint-name-input(
                    type='text',
                    name='name',
                    placeholder=placeholder.sprint_name)
            li
                label(for='sprint-begin-input').suffix-colon
                    | #{label.sprint.duration}
                br
                input.short#sprint-begin-input(
                    type='text',
                    name='begin',
                    data-role='date-input',
                    placeholder=placeholder.sprint_begin)
                | ~
                input.short#sprint-end-input(
                    type='text',
                    name='end',
                    data-role='date-input',
                    placeholder=placeholder.sprint_end)
            li.positioned
                label(for='redmine-sprint-select').suffix-colon
                    img.icon.redmine-icon(
                        src='/images/redmine.fav.ico'
                    )
                    | #{label.sprint.redmine_sprint}
                br
                select#redmine-sprint-select.block-select(
                    name='redmine_versions[]',
                    multiple='multiple'
                )
                    option
        br
        .btn-area
            input#new-sprint-cancel-btn.btn(type='button', value=btn.new_sprint_cancel)
            input.btn(type='submit', value=btn.new_sprint_save).primary
