<li class="float-left member-list-item positioned">
    <div class="paper member-list-item-content">
        <form class="inline-form paper-content">
            <i class="icon human icon-large positioned">
                <span class="part-head"></span>
                <span class="part-body"></span>
            </i>
            <input type="text"
                   placeholder="member name"
                   value="{{name}}"
                   name="name"
                    />
            <br/>
            <small data-role='input-field'>
                <label class="unselectable">
                    <input type="checkbox" name="master" value="true"
                           class="labeled-checkbox" data-value="{{master}}"/>
                    master
                </label>
            </small>
            <input type="hidden" name="absent" value="{{absent}}"/>
            <input type="hidden" name="group"  value="{{group}}"/>
            <div data-role='redmine-member-select-wrapper' data-redmine-id="redmine_id">
                {{redmine_id}}
            </div>
            <br class="clear"/>
        </form>
    </div>
</li>
