extends ../layout


block stylesheet
    link(rel='stylesheet', href='/stylesheets/daily.css')

block javascript
    script(src='/javascripts/handlebars.runtime.min.js')
    script(src='/javascripts/handlebars.template.daily.js')
    script(src='/javascripts/jquery-ui.custom.js')
    script(src='/javascripts/highcharts.js')
    script(src='/javascripts/view.daily.js')


block content

    - var placeholder = msg.placeholder.daily;
    - var label = msg.label.daily;
    - var btn = msg.btn.daily;

    section#calendar-section.float-right.positioned
        #calendar-cover.cover(data-role='date-display')

        #calendar.calendar

    h2#current-sprint-title.etched
        small.sub-title
            | #{msg.label.current_sprint}
            br
        - if(sprint)
            | sprint#{sprint.number}
    .etched-line#top-line
    br

    section#traffic-light-section.float-left
            .traffic-light-box
                .traffic-light.traffic-light-red.on(data-role='traffic-light')
                .traffic-light.traffic-light-yellow(data-role='traffic-light')
                .traffic-light.traffic-light-green(data-role='traffic-light')

    section#task-section.paper.float-left
        .paper-content
            h3.paper-title
                | #{label.tasks}
            span.rate-box.float-right
                span#task-done-rate.large.suffix-rate.rate-number
            table
                tr
                    th #{label.task_time.estimated}
                    td.number-data
                        span(data-key='estimated').suffix-hour
                tr
                    th #{label.task_time.remain}
                    td.number-data
                        span(data-key='remain').suffix-hour
                tr
                    th #{label.task_time.consumed}
                    td.number-data
                        span(data-key='consumed').suffix-hour


            #task-progress-bar(data-role='progress-bar')



    section#issue-section.paper.float-left
        .paper-content
            h3.paper-title.blue
                | #{label.issues}
            span.rate-box.float-right
                span#issue-done-rate.large.suffix-rate.rate-number
            table
                tr
                    th #{label.issue_count.total}
                    td.number-data
                        span(data-key='total').suffix-ticket
                tr
                    th #{label.issue_count.modified}
                    td.number-data
                        span(data-key='modified').suffix-ticket
                tr
                    th #{label.issue_count.done}
                    td.number-data
                        span(data-key='done').suffix-ticket
            #issue-progress-bar(data-role='progress-bar')

    br.clear


    .etched-line

    section#keep-in-mind-section
        .photo-panel-container
            .photo-panel
                .frame-bar-top.photo-frame-bar
                .frame-bar-bottom.photo-frame-bar
                .frame-bar-left.photo-frame-bar
                .frame-bar-right.photo-frame-bar
                .photo-inner-frame
                    form#keep-in-mind-form(action='/sprint/update_keep_in_mind', method='POST')
                        input(type='hidden', name='_id', value=sprint&&sprint._id)
                        ol.keep-in-mind-list
                            - var keepInMindMaxLength = 120;
                            - var trialDefault = '(none)';
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_0',
                                    maxlength = keepInMindMaxLength,
                                    value=sprint.keep_in_mind_0 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[0])
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_1',
                                    maxlength = keepInMindMaxLength,
                                    value=sprint.keep_in_mind_1 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[1])
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_2',
                                    maxlength =keepInMindMaxLength,
                                    value=sprint.keep_in_mind_2 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[2])
            .name-plate-container
                .name-plate
                    | #{label.keep_in_mind}

    br.clear
    .etched-line
    br
    section#grouping-section.paper.inline.float-left
        .paper-content.unselectable
            h3.paper-title #{label.grouping}
            #grouping-roulette

                br.clear
                a.btn.stick-right.stick-top#grouping-shuffle-btn
                    | #{btn.shuffle}
                a.btn.stick-right.stick-top#grouping-stop-btn.primary
                    | #{btn.shuffle_stop}
                #grouping-absentee-area
                    span.half-transparent #{label.grouping_absentee}
            .float-right
    section#availabel-group-section.paper.inline.float-left
        .paper-content
            h3.paper-title #{label.available_group}
            .number-data
                span#availabel-group-count.extra-large.italic.suffix-group
                | ×
                span.suffix-hour
                    input.shortest(
                        type='number',
                        name='hour',
                        value='5',
                        max='8',
                        min='0'
                    )
    br.clear
    br
    .etched-line
    br
    section#event-section.paper
        .paper-content
            h3.paper-title
                | #{label.events}
            ul#event-list

    br
    br