extends ../layout


block stylesheet
    link(rel='stylesheet', href=url.css('jquery.one-day-calendar.css'))
    link(rel='stylesheet', href=url.css('jquery.contextMenu.css'))
    link(rel='stylesheet', href=url.css('jquery.sandglass.css'))
    link(rel='stylesheet', href=url.css('daily.css'))

block javascript
    script(src=url.js('handlebars.template.daily.min.js'))
    script(src=url.js('jquery.rate-circle.js'))
    script(src=url.js('jquery.one-day-calendar.js'))
    script(src=url.js('jquery.contextMenu.js'))
    script(src=url.js('jquery.sandglass.js'))
    script(src=url.js('view.daily.js'))
    script
        CS.sprint = !{JSON.stringify(sprint)};
        CS.today = new Date(!{JSON.stringify(today)});


block content

    - var placeholder = msg.placeholder.daily;
    - var label = msg.label.daily;
    - var btn = msg.btn.daily;

    section#calendar-section.float-right.positioned
        #one-day-calendar.cover(data-role='date-display')
        #calendar.calendar.positioned
        menu#calendar-context-menu.hidden(type='context')
            command(
                label=label.calendar.menu.mark_as_holiday,
                data-command='mark_as_holiday')
            command(
                label=label.calendar.menu.remove_mark_as_holiday,
                data-command='demark_as_holiday')
            command(
                label=label.calendar.menu.new_event,
                data-command='new_event')

        #new-event-input-dialog.input-dialog.card.stick-right.stick-top(
            data-role='dialog',
            data-opener='.selectable-date',
            data-closer='#new-event-cancel-btn')
            .card-title.large #{label.event.caption_new}
            .card-content
                include prt.new-event-form.jade
        ul#event-list




    h2#current-sprint-title.etched
        small.sub-title
        - if(sprint)
            span.large
                | sprint#{sprint.number}
            small.sprint-name
                i #{sprint.name}

        section#traffic-light-section.inline-section
            .traffic-light-box
                // TODO 日本とイギリス以外は緑が右？
                .traffic-light.traffic-light-green(data-role='traffic-light')
                .traffic-light.traffic-light-yellow(data-role='traffic-light')
                .traffic-light.traffic-light-red.on(data-role='traffic-light')
    .etched-line#top-line
    br

    section#sandglass-section.float-left
        #sandglass



    section#task-section.paper.float-left(data-trackers=trackers.task)
        .paper-content
            h3.paper-title
                | #{label.tasks}
            span.rate-box.float-right.positioned
                #task-done-rate-circle.rate-circle
                span#task-done-rate.suffix-rate.rate-number
            table
                tr
                    th #{label.task_time.estimated}
                    td.number-data
                        span(data-key='estimated').suffix-hour
                tr
                    th #{label.task_time.remain}
                    td.number-data
                        span(data-key='remain').suffix-hour
                tr
                    th #{label.task_time.consumed}
                    td.number-data
                        span(data-key='consumed').suffix-hour





    section#bugs-section.paper.float-left(data-trackers=trackers.bug)
        .paper-content
            h3.paper-title
                | #{label.bugs}
            span.rate-box.float-right.positioned
                #bug-done-rate-circle.rate-circle
                span#bug-done-rate.suffix-rate.rate-number
            table
                tr
                    th #{label.bug_count.open}
                    td.number-data
                        span(data-key='open').suffix-ticket
                tr
                    th #{label.bug_count.modified}
                    td.number-data
                        span(data-key='modified').suffix-ticket
                tr
                    th #{label.bug_count.done}
                    td.number-data
                        span(data-key='done').suffix-ticket

    section#bug-to-hurry-section.paper.float-left
        .paper-content
            h3.paper-title
                | #{label.bug_to_hurry}
            ul#bug-to-hurry-list
            br
            a.stick-right.stick-bottom#bug-to-hurry-see-more-btn(
                    target='_blank'
                )
                | #{btn.bugs_to_hurry.see_more}



    br.clear

    - if(sprint)
        section#days-section.positioned
            form(method='post', action='/sprint/update_days')
                input(type='hidden',
                    value=sprint._id,
                    name='_id')
                small.progress-bar-tip.stick-left
                    input.short(type='text',
                        name='begin',
                        value=sprint.begin,
                        data-role='date-input')

                small.progress-bar-tip.stick-right
                    input.short(value=sprint.end,
                        name='end',
                        value=sprint.end,
                        data-role='date-input')

            br.clear
            small(data-role='progress-bar-tip').progress-bar-tip
                | #{label.days.today}

            #days-line


    section#keep-in-mind-section.inline.float-left
        .photo-panel-container
            .photo-panel
                .frame-bar-top.photo-frame-bar
                .frame-bar-bottom.photo-frame-bar
                .frame-bar-left.photo-frame-bar
                .frame-bar-right.photo-frame-bar
                .photo-inner-frame
                    form#keep-in-mind-form(action='/sprint/update_keep_in_mind', method='POST')
                        input(type='hidden', name='_id', value=sprint&&sprint._id)
                        ol.keep-in-mind-list
                            - var keepInMindMaxLength = 120;
                            - var trialDefault = '(none)';
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_0',
                                    maxlength = keepInMindMaxLength,
                                    value=sprint.keep_in_mind_0 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[0])
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_1',
                                    maxlength = keepInMindMaxLength,
                                    value=sprint.keep_in_mind_1 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[1])
                            li.keep-in-mind-list-item
                                input(name='keep_in_mind_2',
                                    maxlength =keepInMindMaxLength,
                                    value=sprint.keep_in_mind_2 || trialDefault,
                                    placeholder=placeholder.keep_in_mind[2])
            .name-plate-container
                .name-plate
                    | #{label.keep_in_mind}

    section#grouping-section.inline.float-left
        #grouping-section-content.unselectable.positioned
            h1#grouping-section-title #{label.grouping}
            #grouping-roulette
                #grouping-group-area.float-left
                a#grouping-group-add-btn.float-left +
                br.clear
                a.btn.stick-right.stick-top#grouping-shuffle-btn.round-btn
                    | #{btn.shuffle}
                a.btn.stick-right.stick-top#grouping-stop-btn.primary.round-btn
                    | #{btn.shuffle_stop}
                #grouping-absentee-area
            form#work-hour-form.float-right
                span#availabel-group-count.italic.suffix-group
                | ×
                span.suffix-hour
                    input.shortest(
                        type='number',
                        name='hour',
                        value='5',
                        max='8',
                        min='0'
                    )
            br.clear
    br.clear
    br
    .etched-line
    br
