<li class="event-list-item">
    <form class="inline-form">
        <input type="text" name="title" data-role='editable-text'
               placeholder="event title"
                value="{{title}}"/>
        <input type="hidden" value="{{detail}}" name="detail"/>
        <input type="hidden" value="{{date}}" name="date"/>
        <input type="hidden" value="{{time}}" name="time"/>
        <input type="hidden" value="{{team_name}}" name="team_name"/>
    </form>
</li>