extends ../layout

block stylesheet
    link(rel='stylesheet', href=url.css('think_back.css'))

block javascript
    script(src=url.js('highcharts.js'))
    script(src=url.js('handlebars.template.think_back.min.js'))
    script(src=url.js('view.think_back.js'))
    script(src=url.js('view.think_back.chart.js'))
    script
        CS.sprints = !{JSON.stringify(sprints)};

block content
    - var label = msg.label.think_back;

    h1  think back!


    select#sprint-select(name="sprint_id")
        - for sprint in sprints
            option(value=sprint._id, data-sprint=sprint)
                | #{sprint.name}

    .etched-line
    section#work-hour-section
        h3.etched #{label.work_hours.title}
        form#work-hour-table-form.graved.inline-block.etched
        br.clear
        .tucked-corners-top
            .tucked-corners-bottom#work-hour-chart


    .etched-line
