extends ../layout

block stylesheet
    link(rel='stylesheet', href=url.css('think_back.css'))

block javascript
    script(src=url.js('highcharts.js'))
    script(src=url.js('handlebars.template.think_back.min.js'))
    script(src=url.js('view.think_back.js'))
    script
        CS.sprints = !{JSON.stringify(sprints)};

block content
    h1  think back!


    select#sprint-select(name="sprint_id")
        - for sprint in sprints
            option(value=sprint._id, data-sprint=sprint)
                | #{sprint.name}
    section#work-hour-section
