<table id="work-hours-table">
    <thead>
    <tr>
        <th> </th>
        {{#each labels}}
        <th>
            <span class="{{class}}">{{this.month}}/{{this.date}}</span>
            <input type="hidden" name='utc' value="{{this.utc}}"/>
        </th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>groups</th>
        {{#each groups}}
            <td>
                <input type="number"
                       class="shortest"
                       name="group"
                       value="{{this}}"
                       data-role="editable-text"
                        />
            </td>
        {{/each}}
    </tr>
    <tr>
        <th>hours</th>
        {{#each hours}}
            <td>
                <input type="number"
                       name="hour"
                       class="shortest"
                       value="{{this}}"
                       data-role="editable-text"
                        />
            </td>
        {{/each}}
    </tr>
    <tr class="upper-lined-tr">
        <th>total</th>
        {{#each totals}}
            <td class="align-right">
                <span data-role="work-hour-total">{{this}}</span>
                <input type="hidden" name="total" value="{{this}}"/>
            </td>
        {{/each}}
    </tr>
    </tbody>
</table>