extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/rule.css')

block javascript
    script(src='/javascripts/handlebars.template.rule.min.js')
    script(src='/javascripts/view.rule.js')
    script
        CS.rule = !{JSON.stringify(rule)};
block content

    - var label = msg.label.rule;
    - var btn = msg.btn.rule;
    section#style-section.paper.inline-section
        .paper-content
            h3.paper-title.lead #{label.style}
            ul#style-url-list(data-urls=rule.style_urls)
            a#style-url-add-btn.list-item-add-btn
                i.icon
                    span.add-icon-bar-v
                    span.add-icon-bar-h
            br
            .btn-area
                a#style-load-btn.btn.large-btn
                    | #{btn.load_style}
                a#style-view-btn.btn.large-btn(
                    href='/html/styledocco/index.html')
                    | #{btn.view_style}
            br.clear



